@import "reset";
@import "variables";

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider-banner__item {
    min-height: 787px;
    width: auto;
    margin-left: 15px;
    text-align: center;
    &-1 {
        background: url(../images/iphone01.png) center 98px no-repeat;
    }
    &-2 {
        background: url(../images/iphone02.png) center 98px no-repeat;
    }
    &-3 {
        background: url(../images/iphone03.png) center 98px no-repeat;
    }

    @media (max-width: 1599px) {
        min-height: 510px;
        background-size: 1000px auto;
        background-position: center 50px;
    }
    @media (max-width: 1024px) {
        min-height: 370px;
        background-size: 600px auto;
        background-position: center 50px;
    }
    @media (max-width:768px) {
        min-height: 300px;
        background-size: 400px auto;
        background-position: center 40px;
    }
    @media (max-width:500px) {
        min-height: 400px;
        background-size: 270px auto;
        margin-left: 0;
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    height: 0;
    list-style: none;
    background: transparent;
    background-color: transparent;
    li {
        transform: translateY(-74px);

        @media (max-width:1599px) {
            transform: translateY(-55px);
        }
        @media (max-width:1024px) {
            transform: translateY(-45px);
        }
        @media (max-width:768px) {
            transform: translateY(-40px);
        }

        button {
            font-size: 0;
            width: 12px;
            height: 12px;
            background-color: transparent;
            border: 2px solid $white;
            border-radius: 50%;
            cursor: pointer;
        }
        &.slick-active button {
            background-color: $white;
        }
        &:not(:first-child) {
            margin-left: 8px;
        }
        &:first-child {
            margin-left: 1px;
        }
        &:last-child {
            margin-left: 7px;
        }
    }
}

.banner {
    background-color: $light-red;
}

.slider__background {
    height: 100%;
    min-height: 787px;
    background: linear-gradient(0deg, rgba(222,93,93,1) 0%, rgba(222,93,93,0) 90%);

    @media (max-width: 1599px) {
        min-height: 510px;
    }
    @media (max-width: 1024px) {
        min-height: 370px;
    }
    @media (max-width: 768px) {
        min-height: 300px;
    }
    @media (max-width: 500px) {
        min-height: 200px;
    }
}

.slider-banner__header {
    transform: translateY(293px);
    margin-left: -20px;
    font-family: $font-family-title;
    font-size: 5.625rem;
    font-stretch: ultra-condensed;
    line-height: 1.2;
    letter-spacing: -1.3px;
    font-weight: 600;
    color: $white;

    @media (max-width: 1599px) {
        transform: translateY(180px);
    }
    @media (max-width: 1024px) {
        transform: translateY(120px);
        font-size: 4rem;
    }
    @media (max-width: 768px) {
        transform: translateY(90px);
        font-size: 3rem;
    }
    @media (max-width: 500px) {
        transform: translateY(60px);
        font-size: 3rem;
        max-width: 320px;
        margin: 0 auto;
    }
}

.slider-banner__link {
    display: block;
    position: relative;
    padding: 16px 22px 19px 86px;
    transform: translateY(295px);
    border: 3px solid $white;
    border-radius: 5px;
    font-family: $font-family-base;
    font-size: 1.875rem;
    line-height: 1.2;
    font-weight: 400;
    color: $white;

    @media (max-width: 1599px) {
        transform: translateY(160px);
    }
    @media (max-width: 1024px) {
        padding: 9px 12px 9px 55px;
        transform: translateY(90px);
        font-size: 1.5rem;
    }
    @media (max-width: 768px) {
        padding: 8px 10px 8px 50px;
        transform: translateY(55px);
        font-size: 1.2rem;
        border-width: 2px;
    }
    @media (max-width: 500px) {
        transform: translateY(30px);
    }

    &-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 70px;
        margin-left: -18px;

        @media (max-width:500px) {
            flex-direction: column;
            align-items: center;
        }

    }
    &:not(:first-child) {
        margin-left: 29px;

        @media (max-width:500px) {
            margin-left: 0;
            margin-top: 29px;
        }

    }
    &-left::before {
        content: "";
        position: absolute;
        width: 52px;
        height: 52px;
        background-image: url(../images/icon-appstore.png);
        left: 19px;
        top: 9px;

        @media (max-width: 1024px) {
            background-size: 32px 32px;
            background-repeat: no-repeat;
            left: 12px;
            top: 7px;
        }
        @media (max-width: 768px) {
            background-size: 26px 26px;
            background-repeat: no-repeat;
            top: 7px;
        }

    }
    &-right {
        padding-left: 87px;
        padding-right: 20px;

        @media (max-width: 1024px) {
            padding-right: 12px;
            padding-left: 55px;
        }
        @media (max-width: 768px) {
            padding-right: 10px;
            padding-left: 50px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 42px;
            height: 47px;
            background-image: url(../images/icon-playstore.png);
            left: 26px;
            top: 13px;

            @media (max-width: 1024px) {
                background-size: 32px 32px;
                background-repeat: no-repeat;
                left: 12px;
                top: 7px;
            }
            @media (max-width: 768px) {
                background-size: 26px 26px;
                background-repeat: no-repeat;
                top: 7px;
            }
        }
    }
}
