@import "reset";
@import "variables";

.compatibility {
    padding-top: 87px;
    padding-bottom: 117px;
    background-color: $mercury;

    @media (max-width: 1024px) {
        padding-top: 75px;
        padding-bottom: 90px;
    }
    @media (max-width: 767px) {
        padding-bottom: 75px;
    }
    &-top {
        max-width: 970px;
        transform: translateX(3px);
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 20px;
        margin-bottom: 32px;
        border-bottom: 2px solid $ghost;
        &__title {
            transform: translateX(-12px) scaleX(0.98);
            font-family: $font-family-title;
            font-size: 1.5rem;
            line-height: 1.2;
            font-weight: 600;
            color: $ironside-grey;
        }
    }
    &-bottom {
        &__left {
            padding-left: 0;

            @media (max-width: 767px) {
                margin-bottom: 50px;
            }
        }
        &__right {
            padding-left: 0;
            overflow: hidden;
        }
        &__title {
            margin-bottom: 1px;
            font-family: $font-family-title;
            font-size: 1.125rem;
            line-height: 1.333;
            font-weight: 600;
            color: $ironside-grey;
            &-left {
                transform: translateX(-4px) scaleX(0.98);

                @media (max-width: 1230px) {
                    transform: translateX(-3px) scaleX(0.98);
                }
                @media (max-width: 1024px) {
                    transform: translateX(-2px) scaleX(0.98);
                }
            }
            &-right {
                transform: translateX(-5px) scaleX(0.98);

                @media (max-width: 1230px) {
                    transform: translateX(-4px) scaleX(0.98);
                }
                @media (max-width: 1024px) {
                    transform: translateX(-3px) scaleX(0.98);
                }
            }
        }
        &__description {
            max-width: 450px;
            font-family: $font-family-base;
            font-size: 1rem;
            line-height: 1.5;
            font-weight: 400;
            color: $ironside-grey;
            &-left {
                margin-bottom: 27px;
                transform: translateX(2px) scaleX(1.002);

                @media (max-width: 750px) {
                    transform: translateX(-1) scaleX(1.002);
                }
            }
            &-right {
                margin-bottom: 34px;
                transform: translateX(0) scaleX(1.002);
            }
        }
        &__image-left {
            transform: translateX(2px);

            @media (max-width: 1024px) {
                transform: translateX(-12px) scale(0.79);
            }
            @media (max-width: 360px) {
                transform: translateX(-17px) scale(0.7);
            }
        }
        &__image-right {
            transform: translateX(1px);
            
            @media (max-width: 1024px) {
                transform: translateX(-37px) scale(0.79);
            }
            @media (max-width: 360px) {
                transform: translateX(-50px) scale(0.7);
            }
        }
    }
    
}