@import "reset";
@import "variables";

.container-taken-with-ama {
    max-width: 2000px;
    margin: 0 auto;
}

.taken-with-ama {
    max-height: 822px;
    overflow: hidden;
    &__top {
        margin-bottom: 77px;
        padding-top: 69px;
    }
    &__title {
        margin-bottom: 20px;
        transform: translateX(-9px) scaleX(0.98);
        font-family: $font-family-title;
        font-size: 3rem;
        line-height: 1.2;
        font-weight: 500;
        color: $bean-red;
    }
    &__description {
        max-width: 450px;
        transform: translateX(1px) scaleX(1.007);
        font-family: $font-family-base;
        font-size: 1.125rem;
        line-height: 1.5;
        font-weight: 400;
        color: $ironside-grey;
    }
    &__gallery {
        display: flex;
        background-color: $cinder;
    }
    &__image-wrapper {
        height: 615px;
        background-color: $cinder;
        transition: all .5s;
        &:hover {
            height: 557px;
            transform: translateY(-38px);
        }
        &:nth-child(1) {
            width: 23.2%;

            @media (max-width: 1700px) {
                width: 25%;
            }
        }
        &:nth-child(2) {
            width: 25.9%;

            @media (max-width: 1700px) {
                width: 25%;
            }
        }
        &:nth-child(3) {
            width: 25.95%;

            @media (max-width: 1700px) {
                width: 25%;
            }
        }
        &:nth-child(4) {
            width: 24.95%;

            @media (max-width: 1700px) {
                width: 25%;
            }
        }
    }
    &__image {
        height: 84.2%;
        transition: all .5s;
        &.image-item-1 {
            background: url(../images/photo-gallery-1.png) 0 -61px no-repeat;

            @media (max-width: 1920px) {
                background-position-x: 15%;
            }
        }
        &.image-item-2 {
            background: url(../images/photo-gallery-2.png) -143px -61px no-repeat;

            @media (max-width: 1920px) {
                background-position-x: 30%;
            }
        }
        &.image-item-3 {
            background: url(../images/photo-gallery-3.png) -250px -15px no-repeat;

            @media (max-width: 1920px) {
                background-position-x: 55%;
            }
        }
        &.image-item-4 {
            background: url(../images/photo-gallery-4.png) -154px -61px no-repeat;

            @media (max-width: 1920px) {
                background-position-x: 68%;
            }
        }
    }
    &__image-bottom {
        height: 87px;
        display: flex;
        justify-content: space-between;
        padding: 28px 34px 0 32px;
        background-color: $cinder;
    }
    &__image-description {
        font-family: $font-family-base;
        font-size: 1.125rem;
        line-height: 1.5;
        font-weight: 400;
        color: $silversand;
    }
    &__like-wrapper {
        display: flex;
    }
    &__image-heart {
        width: 25px;
        height: 21px;
        transform: translateY(2px);
        cursor: pointer;
        user-select: none;
        transition: all .5s;
        &:hover {
            opacity: 0.6;
        }
    }
    &__empty-heart {
        background-image: url(../images/icon-heart-empty.png);
    }
    &__full-heart {
        background-image: url(../images/icon-heart-full.png)
    }
    &__like-counter {
        margin-left: 8px;
        font-family: $font-family-base;
        font-size: 1.5rem;
        line-height: 1.125;
        font-weight: 400;
        color: $bean-red;
    }
}