/**
* @file
* Styles for block Taken with ama.
*/

/* Import reset, variables and mixins files*/
@import "reset";
@import "variables";
@import "mixins";

.container-taken-with-ama {
    max-width: 2000px;
    margin: 0 auto;
}

.taken-with-ama {
    overflow: hidden;
    &__top {
        margin-bottom: 77px;
        padding-top: 69px;

        @media (max-width: 750px) {
            margin-bottom: 63px;
            padding-top: 63px;
        }
    }
    &__title {
        margin-bottom: 20px;
        transform: translateX(-23px) scaleX(0.935);
        color: $bean-red;
        span {
            display: inline-block;
            transform: translateX(3px);
        }
    }
    &__description {
        max-width: 450px;
        transform: translateX(1px) scaleX(1.007);
        @include descrition-font;
        color: $ironside-grey;

        @media (max-width: 750px) {
            font-size: 1rem;
        }
    }

    /* Photo gallery */
    &__gallery {
        display: flex;
        max-height: 518px;
        background-color: $cinder;

        @media (max-width: 1300px) {
            max-height: 370px;
        }
        @media (max-width: 1199px) {
            max-height: 387px;
        }
        @media (max-width: 1024px) {
            flex-wrap: wrap;
            max-height: none;
        }
    }
    &__image-wrapper {
        height: 615px;
        background-color: $cinder;
        transition: all .5s;

        @media (max-width: 1024px) {
            max-height: 517px;
        }

        &:hover {
            height: 557px;
            transform: translateY(-38px);
            transition: all .5s;

            @media (max-width: 1300px) {
                max-height: 415px;
            }
            @media (max-width: 1024px) {
                height: 615px;
                max-height: 517px;
                z-index: 10;
            }
        }
        &:nth-child(1) {
            width: 23.2%;

            @media (max-width: 1700px) {
                width: 25%;
            }
            @media (max-width: 1024px) {
                width: 50%;
            }
            @media (max-width: 560px) {
                width: 100%;
            }
        }
        &:nth-child(2) {
            width: 25.9%;

            @media (max-width: 1700px) {
                width: 25%;
            }
            @media (max-width: 1024px) {
                width: 50%;
            }
            @media (max-width: 560px) {
                width: 100%;
            }
        }
        &:nth-child(3) {
            width: 25.95%;

            @media (max-width: 1700px) {
                width: 25%;
            }
            @media (max-width: 1024px) {
                width: 50%;
            }
            @media (max-width: 560px) {
                width: 100%;
            }
        }
        &:nth-child(4) {
            width: 24.95%;

            @media (max-width: 1700px) {
                width: 25%;
            }
            @media (max-width: 1024px) {
                width: 50%;
            }
            @media (max-width: 560px) {
                width: 100%;
            }
        }
    }
    &__image-adaptive {
        height: 100%;

        @media (max-width: 1024px) {
            height: 614px;
            &:hover {
                height: 562px;
            }
        }
    }
    &__image {
        position: relative;
        height: 84.2%;
        transition: all .5s;
        z-index: 10;

        @media (max-width: 1024px) {
            &:hover {
                position: relative;
                z-index: 15;
            }
        }

        &.image-item-1 {
            background: url(../images/photo-gallery-1.png) 0 -61px no-repeat;

            @media (max-width: 1920px) {
                background-position-x: 15%;
            }
            @media (max-width: 1400px) {
                background-position-x: 20%;
            }
            @media (max-width: 1300px) {
                background-size: 140%;
                background-position-y: 0;
            }
            @media (max-width: 1199px) {
                background-size: 175%;
            }
            @media (max-width: 1024px) {
                background-size: 135%;
            }
            @media (max-width: 901px) {
                background-size: 160%;
            }
            @media (max-width: 767px) {
                background-size: 175%;
            }
            @media (max-width: 676px) {
                background-size: 210%;
            }
            @media (max-width: 560px) {
                background-size: 130%;
            }
            @media (max-width: 450px) {
                background-size: 165%;
            }
            @media (max-width: 360px) {
                background-size: 185%;
            }
        }
        &.image-item-2 {
            background: url(../images/photo-gallery-2.png) -143px -61px no-repeat;

            @media (max-width: 1920px) {
                background-position-x: 30%;
            }
            @media (max-width: 1300px) {
                background-size: 200%;
                background-position-y: 0;
            }
            @media (max-width: 1199px) {
                background-size: 235%;
            }
            @media (max-width: 1024px) {
                background-size: 175%;
            }
            @media (max-width: 901px) {
                background-size: 210%;
            }
            @media (max-width: 767px) {
                background-size: 235%;
            }
            @media (max-width: 676px) {
                background-size: 280%;
            }
            @media (max-width: 560px) {
                background-size: 175%;
            }
            @media (max-width: 450px) {
                background-size: 220%;
            }
            @media (max-width: 360px) {
                background-size: 245%;
            }
        }
        &.image-item-3 {
            background: url(../images/photo-gallery-3.png) -250px -15px no-repeat;

            @media (max-width: 1920px) {
                background-position-x: 55%;
            }
            @media (max-width: 1300px) {
                background-size: 200%;
                background-position-y: 0;
            }
            @media (max-width: 1199px) {
                background-size: 235%;
            }
            @media (max-width: 1024px) {
                background-size: 175%;
            }
            @media (max-width: 901px) {
                background-size: 210%;
            }
            @media (max-width: 767px) {
                background-size: 235%;
            }
            @media (max-width: 676px) {
                background-size: 280%;
            }
            @media (max-width: 560px) {
                background-size: 175%;
            }
            @media (max-width: 450px) {
                background-size: 220%;
            }
            @media (max-width: 360px) {
                background-size: 245%;
            }
        }
        &.image-item-4 {
            background: url(../images/photo-gallery-4.png) -154px -61px no-repeat;

            @media (max-width: 1920px) {
                background-position-x: 68%;
            }
            @media (max-width: 1300px) {
                background-size: 140%;
                background-position-y: 0;
            }
            @media (max-width: 1199px) {
                background-size: 160%;
                background-position-y: 0;
            }
            @media (max-width: 1024px) {
                background-size: 120%;
            }
            @media (max-width: 901px) {
                background-size: 140%;
            }
            @media (max-width: 767px) {
                background-size: 160%;
            }
            @media (max-width: 676px) {
                background-size: 185%;
            }
            @media (max-width: 560px) {
                background-size: 115%;
            }
            @media (max-width: 450px) {
                background-size: 145%;
            }
            @media (max-width: 360px) {
                background-size: 160%;
            }
        }
    }
    &__image-bottom {
        height: 87px;
        display: flex;
        justify-content: space-between;
        padding: 28px 34px 0 32px;
        background-color: $cinder;

        @media (max-width: 1500px) {
            padding: 31px 30px 0 28px;
        }
        @media (max-width: 1350px) {
            padding: 31px 20px 0 20px;
        }
        @media (max-width: 1300px) {
            padding: 18px 20px 0 20px;
        }
        @media (max-width: 1199px) {
            padding: 25px 20px 0 20px;
        }
        @media (max-width: 1024px) {
            max-height: 44px;
            padding: 33px 20px 0 20px;
        }
    }
    &__image-description {
        @include descrition-font;
        color: $silversand;

        @media (max-width: 1500px) {
            font-size: 1rem;
            line-height: 1.2;
        }
    }

    /* Like button */
    &__like-wrapper {
        display: flex;
    }
    &__image-heart {
        position: relative;
        width: 25px;
        height: 21px;
        transform: translateY(2px);
        cursor: pointer;
        user-select: none;
        transition: all .5s;
        z-index: 0;

        @media (max-width: 1400px) {
            transform: translateY(0);
        }

        &:hover {
            opacity: 0.6;
        }
    }
    &__empty-heart {
        background-image: url(../images/icon-heart-empty.png);
    }
    &__full-heart {
        background-image: url(../images/icon-heart-full.png);
    }

    /* Like counter */
    &__like-counter {
        margin-left: 8px;
        font-family: $font-family-base;
        font-size: 1.5rem;
        line-height: 1.125;
        font-weight: 400;
        color: $bean-red;

        @media (max-width: 1400px) {
            font-size: 1.25rem;
        }
    }
}