// Variables

//Fonts
//
//font-damily
$font-family-base: 'Varela Round', sans-serif;
$font-family-title: 'Montserrat', sans-serif;

//Color
$white: #fff;
$pastel-red: #de5d5d;
$indian-red: #cc5858;
$bean-red: #f06464;
$prussian-blue: #063550;
$cinder: #151515;
$baltic-sea: #262626;
$dune: #313131;
$iridium: #3a3a3a;
$ironside-grey: #666666;
$silver-chalice: #aeaeae;
$silversand: #c2c2c2;
$ghost: #cbcbcb;
$mercury: #e7e7e7;